.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.post-content { 
  padding: 30px;
}

.post img {
  max-width: 100%;
}

.container-botao { 
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 100px;
}
